<div calss="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2>送信が完了しました</h2>
      <div>
        <p>内容は以下の通りです。</p>
        <div>
          <p>[タイトル]<br>
          <%= @inquiry.title%></p>
        </div>
        <div>
          <p>[本文]<br>
          <%= @inquiry.content%></p>
        </div>
      </div>
    </div>
  </div>
</div>